
body {
  background-color: #123;
  font-family: "Roboto", sans-serif;
  color: #efefef;
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

article {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 720px;
}

table {
  border-collapse: collapse;
  border: 2px solid #00101f;
  background-color: #0a1a2a;
  color: #ddd;
}

thead th {
  background-color: #050f1f;
}

th, td {
  padding: 8px 14px;
  border: 1px solid #012;
}

th.name {
  min-width: 150px;
}

img.team-icon {
  padding: 1px;
  border-radius: 5px;
}

tr th {
  text-align: start;
}

.row {
  display: flex;
  flex-direction: row;
}

.row img {
  margin-right: 10px;
}

.leaguepedia {
  margin-right: 10px;
  padding: 5px;
  border-radius: 4px;
  background-color: white;
  display: inline-flex;
}

.leaguepedia.img {
  margin: 0;
}

button.position {
  background-color: #345;
  border: 5px solid #345;
  border-radius: 4px;
  margin: 3px;
  cursor: pointer;
}

button.position.selected {
  background-color: #234;
  border: 5px solid #012;
  box-sizing: border-box;
}

button.position:hover {
  background-color: #456;
}

.hidden {
  display: none;
}

form.draft {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5rem;
  margin-top: 1rem;
}

.input-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5rem;
}

select {
  flex: 1;
  font-family: 'Roboto', sans-serif;
  margin-left: 10px;
}

input[type=submit] {
  align-self: center;
  background-color: #345;
  color: white;
  padding: 8px 12px;
  font-weight: bold;
  border: none;
  font-weight: 1.5rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  margin: 4px;
  color: #d46;
  text-align: center;
}

#graph {
  width: 100%;
  height: 500px;
}

a {
  color: #efefef;
}

header {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #012;
  margin-bottom: 1rem;
  height: 5rem;
}

.inner-header {
  max-width: 720px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.nav-buttons {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
}

.nav-button {
  text-decoration: none;
  height: 100%;
  padding: 0px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-button:hover {
  background-color: #001;
}

h1.player-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1.player-title img {
  margin-right: 10px;
}

h1.player-title .player-position img {
  margin-right: 0;
}

h1.player-title .player-position {
  font-weight: normal;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}

.header-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.header-row img {
  margin-right: 10px;
}

@media (max-width: 1250px) {
  .header-row div {
    display: none;
  }
}

.scrollable-table {
  overflow-x: auto;
  margin-bottom: 10px;
  max-width:80vw;
}

.scrollable-table table tr th.fix {
  position: sticky;
  left: 0;
  background-color: #0a1a2a;;
}

.game-name-th {
  padding: 0;
}

.game-name-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  text-decoration: none;
  width: 100%;
  height: 100%;
  padding: 8px 14px;
  box-sizing: border-box;
}

.game-name-col:hover {
  background-color: #234;
}

.winner {
  font-weight: bold;
  text-decoration: underline;
}

.vs {
  font-size: 0.75rem;
}

td.total {
  background-color: #050f1f;
  border-color: #123;
}

td.empty-table {
  background-color: #123;
  border-color: #123;
  border-width: 2px;
  border-top-color: #050f1f;
  border-right-color: #050f1f;
}

.name-form {
  display: flex;
  flex-direction: row;
}

.name-form input[type=text] {
  margin-left: 10px;
}

.left-aligned-container {
  display: flex;
  flex-direction: column;
  align-items: start;

}

ul {
  margin-bottom: 35px;
}

.horz-spaced {
  margin: 0px 20px;
}

.align-right {
  flex: 1;
  text-align: right;
}

.fullwidth {
  width: 100%;
}

.member-table {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 30px;
  background-color: #234;
}

.member-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 8px 12px;
  box-sizing: border-box;
  align-items: center;
}

.member-row button {
  margin-left: 5px;
  margin-right: 5px;
  align-self: center;
  background-color: #345;
  color: white;
  padding: 8px 12px;
  font-weight: bold;
  border: none;
  font-weight: 1.5rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.member-row:nth-child(even) {
  background-color: #1a2a3a;
}

.member-row:last-child {
  border-bottom-width: 0;
}

.space-filler {
  flex: 1;
}

.game-team {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.vs-filler {
  margin-left: 50px;
  margin-right: 55px;
}

.team-name-with-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-top: 5px;
}

.team-result {
  font-size: 0.75rem;
  font-weight: normal;
  margin-left: 10px;
}

.game-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nopad {
  padding: 0;
}

.centered {
  padding: 8px 14px;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.csv {
  margin: 8px;
  border: none;
  background-color: #1a2a3a;
  color: #aaa;
  padding: 4px 8px;
  cursor: pointer;
}

.csv:hover {
  background-color: #2a3a4a;
}

.cost-label {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 2px;
  font-size: 1rem;
  font-weight: bold;
  color: #aaa;
}

.cost-counter-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2rem;
  border: 2px solid #aaa;
}

.cost-bar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #151;
}

.cost-text {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.flag {
  border: 1px solid #050f1f;
}

.team-icon {
  padding: 4px;
}