{% load static %}

<div style="display: flex; flex-direction: row; margin-bottom: 1rem;">
    {% for position in positions %}
        <button class="position" data-position="{{position}}" onclick="filterBy(this)">
            <img src="{% static 'positions/'|add:position|add:'.png' %}" width="30" height="30"></img>
        </button>
    {% endfor %}
</div>

<table>
    <thead>
        <tr>
            <th scope="col">Player</th>
            <th scope="col">Country</th>
            <th scope="col">Team</th>
            <th scope="col">Position</th>
            {% if with_cost %}
                <th scope="col">Cost</th>
            {% else %}
                <th scope="col">Score</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for player in players %}
            <tr class="player-row" data-position="{{ player.player.position }}">
                <th scope="row" class="name">
                    <a href="/players/{{ player.player.id }}">
                        {{ player.player.in_game_name }}
                    </a>
                </th>
                <td>
                    <div class="row">
                        <img class="flag" src="{% static 'flags/'|add:player.player.country|lower|add:'.svg' %}" width="20"></img>
                    </div>
                </td>
                <td>
                    <div class="row">
                        <img src="{% static player.player.team.icon_url %}" style="background-color: {{ player.player.team.background_colour }};" width="20" height="20"></img>
                        <span>{{ player.player.team.full_name }}</span>
                    </div>
                </td>
                <td>
                    <div class="row">
                        <img src="{% static 'positions/'|add:player.player.position|add:'.png' %}" width="20" height="20"></img>
                    </div>
                </td>
                {% if with_cost %}
                    <td>{{ player.cost|money }}</td>
                {% else %}
                    <td>{{ player.score }}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    const tableState = { position: null, cur: null };
    const filterBy = (button) => {
        const position = button.dataset.position;
        if (tableState.cur) {
            tableState.cur.classList.remove("selected");
        }
        if (tableState.position === position) {
            document.querySelectorAll('.player-row').forEach(node => node.classList.remove("hidden"));
            tableState.position = null;
            tableState.cur = null;
        } else {
            document.querySelectorAll('.player-row').forEach(node => {
                if (node.dataset.position === position) {
                    node.classList.remove("hidden");
                } else {
                    node.classList.add("hidden");
                }
            });
            tableState.position = position;
            button.classList.add("selected");
            tableState.cur = button;
        }
    };
</script>

{% if not with_cost %}
    <button class="csv" onclick="copy()">Copy CSV</button>
{% endif %}

<script>
    const csv = "{{ csv }}";
    const copy = () => {
        navigator.clipboard.writeText(csv);
    }
</script>
