{% load static %}

<h1 class="player-title">
  <img class="team-icon" src="{% static player.team.icon_url %}" class="team-icon" style="background-color: {{ player.team.background_colour }};" height="30"></img>
  <a href="https://lol.fandom.com/wiki/{{ player.overview_page }}">{{ player_name }}</a>
  <div class="player-position">
    (
      <img class="team-icon" src="{% static 'flags/'|add:player.country|lower|add:'.svg' %}" width="20" height="20"></img>
      <img class="team-icon" src="{% static 'positions/'|add:player.position|add:'.png' %}" width="20" height="20"></img>
    )
  </div>
  
</h1>

<div class="scrollable-table">
  <table>
    <thead>
      <tr>
        <th scope="col"></th>
        {% for game_name in game_names %}
          <th scope="col" class="game-name-th"> 
            <a href="/game/{{ game_name.4 }}" class="game-name-col">
              <div {% if game_name.1 %} class="winner" {% endif %}>{{ game_name.0 }}</div>
              <div class="vs">vs</div>
              <div {% if game_name.3 %} class="winner" {% endif %}>{{ game_name.2 }}</div>
            </a>
          </th>
        {% endfor %}
        <th scope="col">Total</th>
      </tr>
    </thead>
    {% for stat_source in sources %}
      <tr>
        <th class="game-name-th" scope="row">
          <a href="/stat/{{ stat_source.0 }}" class="game-name-col">
            {{ stat_source.1 }}
          </a>
        </th>
        {% for score in scores %}
          <td>{% if score|keyvalue:stat_source.0 is not None %} {{ score|keyvalue:stat_source.0|toint }} {% else %} 0 {% endif %}</td>
        {% endfor %}
        <td class="total"> {{ source_totals|keyvalue:stat_source.0|toint }} </td>
      </tr>
    {% endfor %}
    <tr>
      <th class="game-name-th" scope="row">
        <a href="/stat/total" class="game-name-col">
          Total
        </a>
      </th>
      {% for score in scores %}
        <td>{{ score.score }}</td>
      {% endfor %}
      <td>{{ player_score }}</td>
    </tr>
  </table>
</div>

{{ graph_data|json_script:"graph_data" }}

<div id="graph" class="tab-item">
  <canvas id="player-graph"></canvas>
</div>

<script>
  const graphData = JSON.parse(document.getElementById("graph_data").textContent)

  new Chart(document.getElementById('player-graph'), {
    type: 'line',
    data: graphData,
    options: {
      plugins: {
        legend: {
          display: false
        }
      }
    }
  })
</script>

