{% load static %}

<h1 class="player-title">
  <img class="team-icon" src="{% static player.team.icon_url %}" style="background-color: {{ player.team.background_colour }};" width="30" height="30"></img>
  {{ player_name }}
  <div class="player-position">
    (
      <img class="team-icon" src="{% static 'positions/'|add:player.position|add:'.png' %}" width="20" height="20"></img>
    )
  </div>
  
</h1>

<div class="scrollable-table">
  <table>
    <thead>
      <tr>
        <th scope="col"></th>
        {% for game_name in game_names %}
          <th scope="col"> 
            <div class="game-name-col">
              <div {% if game_name.1 %} class="winner" {% endif %}>{{ game_name.0 }}</div>
              <div class="vs">vs</div>
              <div {% if game_name.3 %} class="winner" {% endif %}>{{ game_name.2 }}</div>
            </div>
          </th>
        {% endfor %}
      </tr>
    </thead>
    {% for stat_source in sources %}
      <tr>
        <th class="fix" scope="row"> {{ stat_source.1 }} </th>
        {% for score in scores %}
          <td>{% if score|keyvalue:stat_source.0 is not None %} {{ score|keyvalue:stat_source.0 }} {% else %} 0 {% endif %}</td>
        {% endfor %}
      </tr>
    {% endfor %}
  </table>
</div>

{{ graph_data|json_script:"graph_data" }}

<div id="graph" class="tab-item">
  <canvas id="player-graph"></canvas>
</div>

<script>
  const graphData = JSON.parse(document.getElementById("graph_data").textContent)

  new Chart(document.getElementById('player-graph'), {
    type: 'line',
    data: graphData,
    options: {
      plugins: {
        legend: {
          display: false
        }
      }
    }
  })
</script>

