
<h1>{{ stat_name }}</h1>

{{ graph_data|json_script:"graph_data" }}

<div id="graph" class="tab-item big-graph">
  <canvas id="stat-graph"></canvas>
</div>

<script>
  const graphData = JSON.parse(document.getElementById("graph_data").textContent)

  new Chart(document.getElementById('stat-graph'), {
    type: 'boxplot',
    data: graphData,
    options: {
      responsive: true,
      maintainAspectRatio: false,
      outlierBackgroundColor: '#aaa',
      outlierRadius: 3
    }
  })
</script>
